.weex-list {
}

.weex-list-wrapper {
  overflow: scroll;
}

.weex-list-inner {
  display: block;
}

.weex-list-top-mark {
  width: 100%;
  height: 0;
  visibility: hidden;
}
.weex-list-bottom-mark {
  width: 100%;
  height: 0;
  visibility: hidden;
}

.weex-cell {
}
