.weex-scroller {
}

.weex-scroller-wrapper {
  overflow: scroll;
}

.weex-scroller-inner {
}

.weex-scroller-top-mark {
  width: 100%;
  height: 0;
  visibility: hidden;
}
.weex-scroller-bottom-mark {
  width: 100%;
  height: 0;
  visibility: hidden;
}
