body > .weex-list,
body > .weex-scroller {
  min-height: 100%;
}

.weex-scroller-wrapper {
  display: flex;
  overflow: scroll;
  &.weex-scroller-horizontal {
    overflow: hidden;
  }
}
.weex-scroller-horizontal {
  .weex-scroller-inner {
    display: block;
    width: auto;
    height: 100%;
    & > * {
      display: block;
      float: left;
    }
  }
}

.weex-list-wrapper {
  display: flex;
  position: relative;
  overflow: scroll;
  &.with-loading, &.with-refresh {
    background-color: #888888;
  }
}

.weex-list-inner,
.weex-scroller-inner {
  background-color: #FFFFFF;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.weex-cell {
  display: flex;
}

.weex-refresh,
.weex-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 0;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
  // height: 120px;
}

.weex-refresh {
  top: 0;
}
.weex-loading {
  bottom: 0;
  bottom: -212px;
}
