// same as iOS switch
.weex-switch {
  border: 1px solid #dfdfdf;
  cursor: pointer;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  user-select: none;
  box-sizing: content-box;
  background-clip: content-box;

  color: #64bd63;
  width: 100px;
  height: 60px;

  background-color: rgb(255, 255, 255);
  border-color: rgb(223, 223, 223);
  box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;

  border-radius: 60px;
  transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;
}

.weex-switch-checked {
  background-color: rgb(100, 189, 99);
  border-color: rgb(100, 189, 99);
  box-shadow: rgb(100, 189, 99) 0px 0px 0px 40px inset;
}

.weex-switch-checked.weex-switch-disabled {
  background-color: #A0CCA0;
  box-shadow: #A0CCA0 0px 0px 0px 40px inset;
}

.weex-switch-disabled {
  background-color: #EEEEEE;
}

.weex-switch-inner {
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.4s, left 0.2s;
}

.weex-switch-checked > .weex-switch-inner  {
  left: 40px;
}
